@media screen and (max-width:700px)
    .main
        &__right
            display: none
@media screen and (max-width:500px)
    body

        background-position: center, center
    .swap__container
        width: 194px

    .header
        &__container
            max-width: 375px
    .social
        display: none
    .main
        &__container
            max-width: 375px
        &__right
            display: none
        &__left
            max-width: 95%
    .footer
        &__container
            max-width: 375px
            flex-direction: column
            align-items: flex-start
        &__security
            margin: 0
            padding: 0
    .viewport__arrow
        display: none
    .viewport
        margin: 0
        border-radius: 10px
        max-width: 194px
    .slaid__image
        border-radius: 10px
    .swap
        width: 194px
    .menu
        padding: 0
