@media screen and (max-width:700px)
    .main
        &__right
            display: none
@media screen and (max-width:500px)
    body

        background-position: center, center
    .header
        &__container
            width: 400px
    .social
        display: none
    .main
        &__container
            width: 400px
        &__right
            display: none
        &__left
            width: 400px
    .footer
        &__container
            width: 400px
            flex-direction: column
            align-items: flex-start
        &__security
            margin: 0
            padding: 0
    .viewport__arrow
        display: none
    .viewport
        margin: 0
    .swap__container
        width: 400px
